:root {
  --universal-white: #ffffff;
  --universal-black: #222222;
  --universal-red-theme-color: #D50F25;
  --universal-green-theme-color: #559944;
  --universal-yellow-theme-color: #FAC73D;
  --universal-blue-theme-color: #5485EE;
}